<!DOCTYPE html>
<html lang="en">
    <head>
        <title><?php echo $title;?></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <?php echo $assetsTop;?>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <a class="navbar-brand" herf="/"><?php echo $title;?></a>
                <p class="navbar-text pull-right">
                    <a href="/hoobr/httpd" class="navbar-link">View Site</a>
                </p>
                <?php echo $header;?>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-13 col-lg-9">
                    <?php echo $main;?>
                </div>
                <div class="col-5 col-lg-3">
                    <?php echo $sidebar;?>
                </div>
            </div>
        </div>
        <div class="container">
            <?php echo $footer;?>
        </div>
        <div class="text-center">
            <small>Page created in <?php echo round($end, 3);?> seconds</small>
        </div>
        <?php echo $assetsBottom;?>
    </body>
</html>